JWT_SECRET = 'gs#secret'

# MongoDB URI
MONGODB_URI = ----- mongodb uri -----

# GROQ API Key
GROQ_API_KEY = ----- gROQ api key -----

# ImageKit 
IMAGEKIT_PUBLIC_KEY = '----- public key -----'
IMAGEKIT_PRIVATE_KEY = '----- private key -----'
IMAGEKIT_URL_ENDPOINT = '----- url endpoint -----'

# Stripe
STRIPE_PUBLISHABLE_KEY = ----- stripe publishable key -----
STRIPE_SECRET_KEY = ----- stripe secret key -----
STRIPE_WEBHOOK_SECRET = ----- stripe webhook secret -----